<%- include("partials/header") %>
<div class="container">
    <div class="post">
        <h1 class="h1view"><%= post.title %></h1>
        <p class="paraview"><%= post.content %></p>
        <a class="backtohome" href="/">Back to Home</a>
    </div>
</div>
<%- include("partials/footer") %>
